.animal1 {
    height: 400px;
    width: 400px;
    float: left;
    border: 2px solid pink;
}
.animal2 {
    height: 400px;
    width: 400px;
    float: left;
    border: 2px solid pink;
}
.animal3 {
    height: 400px;
    width: 400px;
    float: left;
    border: 2px solid pink;
}
.animal4 {
    height: 400px;
    width: 400px;
    float: left;
    border: 2px solid pink;
}